{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

<div class="container">
    <div class="card shadow-sm">
        <div class="card-body">
            <h1 class="card-title text-center mb-4">Welcome Admin</h1>
            <form>
                <div class="mb-3">
                    <label for="file" class="form-label">Upload:</label>
                    <input type="file" class="form-control" id="file" name="file" required>
                </div>
                <div class="mb-3">
                    <label for="fromOffice" class="form-label">From Office:</label>
                    <input type="text" class="form-control" id="fromOffice" name="fromOffice" required>
                </div>
                <div class="mb-3">
                    <label for="toOffice" class="form-label">To Office:</label>
                    <input type="text" class="form-control" id="toOffice" name="toOffice" required>
                </div>
                <div class="text-center">
                    <a type="button" href="{% url 'track_file' %}" class="btn btn-primary">Transfer File</a>
                </div>
            </form>
            <div id="uploadMessage" class="mt-3"></div>
        </div>
    </div>
</div>

{% endblock content %}
