<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>

    <body>
        <nav><ul><li><a href="index.html" class="active">LOGIN</a></li></ul></nav>
        
    
        <section><h1>Login Page</h1>

        <label for="Username"> Enter UserName:</label><br>
        <input type="text" id="UserName" name="UserName" required><br><br>

    <label for="Password">Enter Password:</label><br>
    <input type="text" id="Password" name="Password" required><br><br>
    <Button><li><a href="Home.html">Login</a></li></Button>




    </section>
    
    
</body>
</html>