{% extends 'base.html' %}
{% block title %}Notifications{% endblock title %}
{% block content %}
<style>
    .project-list {
        list-style: none;
        padding: 0;
    }

    .project-item {
        margin-bottom: 20px;
    }

    .card-hover {
        transition: box-shadow 0.3s ease;
    }

    .card-hover:hover {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

    .btn-icon {
        display: flex;
        align-items: center;
        gap: 5px;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center mb-4">
                <h1 class="display-4">Notifications</h1>
            </div>
            <ul class="project-list">
                {% if display_notifications %}
                    {% for display_notification in display_notifications %}
                    <li class="project-item">
                        <div class="card card-hover">
                            <div class="card-body">
                                <h5 class="card-title">Project: {{ display_notification.project.name_of_the_project }}</h5>
                                <p class="card-text">Notification from: {{ display_notification.project.user }}</p>
                                <p class="card-text">Handled by: {{ display_notification.project.handling_officer }}</p>
                                <p class="card-text">File sent at: {{ display_notification.project.created_at }}</p>
                                <a href="{% url 'accept_project' display_notification.project.id %}" class="btn btn-primary"><i class="fa-solid fa-check mx-2"></i>Accept</a>
                                <a href="{% url 'decline_project' display_notification.project.id %}" class="btn btn-secondary"><i class="fa-solid fa-times mx-2"></i>Decline</a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                {% else %}
                <li class="project-item">
                    <div class="card card-hover">
                        <div class="card-body">
                            <p class="card-text">No notifications yet</p>
                        </div>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
