{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Project Details{% endblock title %}

{% block content %}
<style>
    .form-text{
        display:none;
    }
    .asteriskField{
        display:none;
    }
    .file-preview {
        max-width: 100%; /* Ensure the preview image doesn't overflow */
        height: auto; /* Maintain aspect ratio */
    }
    
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm mt-5">
                <div class="card-body">
                    <h1>{{ project.name }}</h1>
                    <p><span class="fw-bold">Category: </span> {{ project.category }}</p>
                    <p><span class="fw-bold">Number: </span>{{ project.number }}</p>
                    <p><span class="fw-bold">Contractor: {{ project.contractor }}</p>
                    <p><span class="fw-bold">Handling Officer: </span>{{ project.handling_officer.username }}</p>
                    <p><span class="fw-bold">Contract Type: </span>{{ project.contract_type }}</p>
                    
                    {% if project.files.name|lower|slice:"-3:" == "jpg" or project.files.name|lower|slice:"-4:" == "jpeg" or project.files.name|lower|slice:"-3:" == "png" %}
                        <p><span class="fw-bold">Image: </span></p><img src="{{ project.files.url }}" alt="File Preview" class="file-preview">
                    {% else %}
                        <p><span class="fw-bold">Files: </span><a href="{{ project.files.url }}" class="file-link">{{ project.files.name }}</a></p>
                    {% endif %}
                    <hr>

                    <h2>Comments</h2>
                    {% for comment in comments %}
                    <div class="card mb-3">
                        <div class="card-header">
                            <strong>{{ comment.user.username }}</strong> ({{ comment.timestamp }})
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ comment.content }}</p>

                            <div class="replies">
                                <h5>Replies</h5>
                                {% for reply in comment.replies.all %}
                                <div class="card mb-2">
                                    <div class="card-header">
                                        <strong>{{ reply.user.username }}</strong> ({{ reply.timestamp }})
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">{{ reply.content }}</p>
                                        {% if reply.user == request.user %}
                                        <p>
                                            <a href="{% url 'edit_reply' project.pk comment.pk reply.pk %}" class="btn btn-sm btn-outline-success">Edit</a>
                                            <a href="{% url 'delete_reply' project_id=project.id comment_id=comment.id reply_id=reply.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
                                        </p>
                                        {% endif %}
                                    </div>
                                </div>
                                {% empty %}
                                <p>No replies yet.</p>
                                {% endfor %}
                            </div>

                            
                            
                            {% if request.user.userprofile.role == 'director' %}
                            <p>
                                <a href="{% url 'edit_comment' pk=project.pk comment_id=comment.pk %}" class="btn btn-sm btn-primary">Edit</a>
                                <a href="{% url 'delete_comment' pk=project.pk comment_id=comment.pk %}" class="btn btn-sm btn-danger">Delete</a>
                                
                            </p>
                            {% endif %}
                            <p><a href="{% url 'add_reply' project.pk comment.pk %}" class="btn btn-sm btn-success">Reply</a></p>
                        </div>
                    </div>
                    {% endfor %}




                    <!-- Add comment form -->
                    {% if user.userprofile.role == 'director' %}
                    <hr>
                        <h2>Add Comment</h2>
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col">
                                    {{ comment_form|crispy }}
                                </div>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Add Comment</button>
                            </div>
                        </form>
                    {% else %}
                        <!-- You can display a message or hide the form -->
                        <hr>
                        <p class="fw-bold">You do not have permission to add a comment.</p>
                    {% endif %}


                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    
</div>
{% endblock %}
