{% extends 'base.html' %}
{% block title %}Application-history{% endblock title %}
{% block content %}
<style>
    .project-list {
        list-style: none;
        padding: 0;
    }

    .project-item {
        margin-bottom: 20px;
    }

    .card-hover {
        transition: box-shadow 0.3s ease;
    }

    .card-hover:hover {
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

    .btn-icon {
        display: flex;
        align-items: center;
        gap: 5px;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="text-center mb-4">
                <h1 class="display-4">Projects</h1>
            </div>
            <ul class="project-list">
                {% for project in projects %}
                <li class="project-item">
                    <div class="card card-hover shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{% url 'project_detail' project.pk %}" class="project-link">{{ project.name }}</a>
                            </h5>
                            <p class="card-text text-muted">{{ project.description }}</p>
                            {% if request.user.userprofile.role == 'director' %}
                            <div class="d-flex justify-content-end">
                                <a href="{% url 'delete_project' project.pk %}" class="btn btn-danger btn-icon">
                                    <i class="fa-solid fa-trash mx-2"></i> Delete
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
