{% extends 'base.html' %}
{% load static %}

{% block title %}Track File{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm mt-5">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Track File</h1>
                    <form id="trackForm" method="post" action="{% url 'track_file' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="fileID" class="form-label">Enter File ID:</label>
                            <input type="text" class="form-control" id="fileID" name="fileID" required>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Track</button>
                        </div>
                    </form>
                    <div id="trackResult" class="mt-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'scripts.js' %}"></script>
{% endblock content %}
